#hem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    /* min-height: 100px; */
    margin: auto;
    width: 95%;
    grid-template-areas: 
    'hd hd hd'
    'na na na'
    'ma ma ma'
    'fo fo fo'
    ;
    /* display: flex; */
}

header {
    grid-area: hd;
    background-color: #ff0000;
}

header h1 {
    display: flex;
    justify-content: center;
}

nav {
    grid-area: na;
    background-color: #00ff2f;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

/* nav ul li {
    list-style: none;
} */

nav ul li a {
    /* color: #000000; 
    text-decoration: none; */
    margin-left: 1rem;
    margin-right: 1rem;
}

ul li {
    list-style: none;
}

ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    max-height: 75%;
    grid-area: ma;
    background-color: #ffda21;
    overflow: scroll;
}

main section {
    background-color: #86c8ff;
    max-width: 60%;
    display: flex;
    justify-content: left;
    margin: 1rem;
}

main section img {
    margin: 0.3rem;
}

main section aside {
    margin: 0.3rem;
}

footer{
    grid-area: fo;
    background-color: #ea6ed3;
    display: flex;
    justify-content: space-around;
}

/* footer ul {
    display: flex;
} */

/* footer ul li {
    list-style: none;
} */

/* footer ul li a {
    color: #000000; 
    text-decoration: none;
} */

@media screen and (max-width:500px) {

    nav {
        justify-content: center;
    }

    main {
        max-height: 75%;
        /* display: grid;
        grid-template-areas: 
        '. I .'
        '. II .'
        '. III .'
        '. IV .'
        ; */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* #I {
        grid-area: I;
    }

    #II {
        grid-area: II;
    }

    #III {
        grid-area: III;
    }

    #IV {
        grid-area: IV;
    } */
}