header {
    grid-area: hd;
    background-color: #F5EBDE;
    display: flex;
    justify-content: center;
}

h1 {
    color: #2D2E27;
}

h2 {
    color: #2D2E27;
}

p {
    color: #2D2E27;
}

a {
    min-height: 48px;
    min-width: 48px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

nav {
    grid-area: na;
    background-color: #aab2a1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #2D2E27; 
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    background-color: #DBD6C7;
    display: flex;
    flex-direction: column;
}

main h2{
    color: #2D2E27;
}

main h4 {
    color: #2D2E27;
}

main p {
    color: #2D2E27;
    margin: 2%;
}

footer{
    grid-area: fo;
    background-color: #505544;
    display: flex;
    justify-content: space-around;
}

footer section h3 {
    color: #F5EBDE;
}

footer section ul li a {
    color: #F5EBDE;
}



#hem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    min-height: 100px;
    margin: auto;
    width: 95%;
    grid-template-areas: 
    'hd hd hd'
    'na na na'
    'mal mal mal'
    'fo fo fo'
    ;
    /* display: flex; */
}

/* nav ul li {
    list-style: none;
} */

/* #hem ul li {
    list-style: none;
} */

/* #hem ul li a {
    color: #000000;
    text-decoration: none;
} */

#hem main {
    grid-area: mal;
    /* background-color: #DBD6C7; */
}

#hem main h2 {
    display: flex;
    justify-content: center;
}

#hem main img {
    margin: 2%;
    max-width: 22%;
    float: left;
}

/* #hem main p {
    margin: 2%;
} */

/* main aside {
    grid-area: as;
    background-color: #c088ff;
} */

/* main aside img {
    margin: 8%;
    max-width: 85%;
} */

/* main section {
    margin: 2%;
    grid-area: se;
    background-color: #DBD6C7;
} */

/* footer{
    grid-area: fo;
    background-color: #737A62;
    display: flex;
    justify-content: space-around;
} */

/* footer ul {
    display: flex;
} */

/* footer ul li {
    list-style: none;
} */

/* footer ul li a {
    color: #000000; 
    text-decoration: none;
} */

@media screen and (max-width:500px) {

    nav {
        justify-content: center;
    }
}

                        /* ________________________ */


    #kontakta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1px;
        grid-column-gap: 1px;
        min-height: 100px;
        margin: auto;
        width: 95%;
        grid-template-areas: 
        'hd hd hd'
        'na na na'
        'malll malll malll'
        'fo fo fo'
        ;
        /* display: flex; */
    }
    
    /* header {
        grid-area: hd;
        background-color: #F5EBDE;
    } */
    
    /* header h1 {
        display: flex;
        justify-content: center;
    } */
    
    /* nav {
        grid-area: na;
        background-color: #7F8878;
        display: flex;
        justify-content: center;
    } */
    
    /* nav ul {
        display: flex;
    } */
    
    /* nav ul li {
        list-style: none;
    } */
    
    /* nav ul li a {
        color: #000000; 
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;
    } */
    
    /* #kontakta ul li {
        list-style: none;
    } */
    
    /* #kontakta ul li a {
        color: #000000;
        text-decoration: none;
    } */
    
    #kontakta main {
        grid-area: malll;
        /* background-color: #DBD6C7; */
    }

    #kontakta main h2 {
        margin-left: 5%;
    }
    
    #kontakta main aside {
        /* background-color: #DBD6C7; */
        margin-bottom: 1rem;
        display: flex;
    }
    
    #kontakta main aside ul li {
        margin: 1rem;
    }

    #kontakta main aside ul li a {
        color: #2D2E27;
    }
    
    #kontakta main section {
        /* background-color: #DBD6C7; */
        margin: 3%;
        display: flex;
        display: grid;
        grid-template-areas: 
        'sp sp sp'
        'll ll ll'
        'hj hj hj'
        'l l l'
        ;
    }
    
    #kontakta main section p {
        margin-left: 2rem;
    }

    #kontakta main section h2 {
        margin-left: 2%;
    }
    
    #l {
        grid-area: l;
        margin-bottom: 5%;
    }
    
    #ll {
        grid-area: ll;
        margin-bottom: 30px;
    }

    #sp {
        grid-area: sp;
    }

    #hj {
        grid-area: hj;
    }
    
    /* footer{
        grid-area: fo;
        background-color: #737A62;
        display: flex;
        justify-content: space-around;
    } */
    
    /* footer ul {
        display: flex;
    } */
    
    /* footer ul li {
        list-style: none;
    } */
    
    /* footer ul li a {
        color: #000000; 
        text-decoration: none;
    } */
    
    @media screen and (max-width:500px) {
    
        nav {
            justify-content: center;
        }


    }

                  /*  _______________________ */

    #affar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1px;
        grid-column-gap: 1px;
        /* min-height: 100px; */
        margin: auto;
        width: 95%;
        grid-template-areas: 
        'hd hd hd'
        'na na na'
        'mall mall mall'
        'fo fo fo'
        ;
        /* display: flex; */
    }
    
    /* header {
        grid-area: hd;
        background-color: #F5EBDE;
    } */
    
    /* header h1 {
        display: flex;
        justify-content: center;
    } */
    
    /* nav {
        grid-area: na;
        background-color: #7F8878;
        display: flex;
        justify-content: center;
    } */
    
    /* nav ul {
        display: flex;
    } */
    
    /* nav ul li {
        list-style: none;
    } */
    
    /* nav ul li a {
        color: #000000; 
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;
    } */
    
    /* #affar ul li {
        list-style: none;
    } */
    
    /* #affar ul li a {
        color: #D9CCC1;
        text-decoration: none;
    } */
    
    #affar main {
        /* max-height: 75%; */
        grid-area: mall;
        /* background-color: #DBD6C7; */
        /* overflow: scroll; */
    }
    
    #affar main section {
        background-color: #DBD6C7;
        max-width: 60%;
        display: flex;
        justify-content: left;
        margin: 1rem;
    }
    
    #affar main section img {
        max-width: 150px;
        margin: 0.3rem;
    }
    
    #affar main section aside {
        margin: 0.3rem;
    }
    
    /* footer{
        grid-area: fo;
        background-color: #737A62;
        display: flex;
        justify-content: space-around;
    } */
    
    /* footer section ul li a {
        color: #D9CCC1;
    } */
    
    /* footer ul {
        display: flex;
    } */
    
    /* footer ul li {
        list-style: none;
    } */
    
    /* footer ul li a {
        color: #000000; 
        text-decoration: none;
    } */
    
    @media screen and (max-width:500px) {
    
        nav {
            justify-content: center;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s;
        }

        #ham {
        width: 2.8rem;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        /* border: 1px solid #000; */
        }

        #ham div {
            border: 1.5px solid #2D2E27;
            margin: 0.5rem;
         
        }
    
        nav.active {
            max-height: 1000px;
            transition: max-height 0.7s;
        }
    
        /* nav ul {
            display: block;
            padding: 0;
        } */
    
        /* nav ul li {
            text-align: center;
        } */
    
        /* nav ul li a {
            width: 100%;
            height: 100%;
        } */
    
        /* nav ul li :hover {
            background-color: #ffffff;
        } */
    
        #affar main {
            /* max-height: 75%; */
            /* display: grid;
            grid-template-areas: 
            '. I .'
            '. II .'
            '. III .'
            '. IV .'
            ; */
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        /* #I {
            grid-area: I;
        }
    
        #II {
            grid-area: II;
        }
    
        #III {
            grid-area: III;
        }
    
        #IV {
            grid-area: IV;
        } */
    }
