#hem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    min-height: 100px;
    margin: auto;
    width: 95%;
    grid-template-areas: 
    'hd hd hd'
    'na na na'
    'ma ma ma'
    'fo fo fo'
    ;
    /* display: flex; */
}

header {
    grid-area: hd;
    background-color: #F5EBDE;
}

header h1 {
    display: flex;
    justify-content: center;
}

nav {
    grid-area: na;
    background-color: #7F8878;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

/* nav ul li {
    list-style: none;
} */

nav ul li a {
    /* color: #000000; 
    text-decoration: none; */
    margin-left: 1rem;
    margin-right: 1rem;
}

ul li {
    list-style: none;
}

ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    grid-area: ma;
    background-color: #DBD6C7;
}

main h2 {
    display: flex;
    justify-content: center;
}

main img {
    margin: 2%;
    max-width: 22%;
    float: left;
}

main p {
    margin: 2%;
}

/* main aside {
    grid-area: as;
    background-color: #c088ff;
} */

/* main aside img {
    margin: 8%;
    max-width: 85%;
} */

/* main section {
    margin: 2%;
    grid-area: se;
    background-color: #DBD6C7;
} */

footer{
    grid-area: fo;
    background-color: #737A62;
    display: flex;
    justify-content: space-around;
}

/* footer ul {
    display: flex;
} */

/* footer ul li {
    list-style: none;
} */

/* footer ul li a {
    color: #000000; 
    text-decoration: none;
} */

@media screen and (max-width:500px) {

    nav {
        justify-content: center;
    }
}